{% extends "BSveidne.html" %} {% block saturs %}
<div id="galva">
  <h1>Brīvie Suņi</h1>
  <hr width="40%" />
  <h2>
    <a href="https://www.startit.lv/">IT Izglītības fonda</a> organizēto augsta
    līmeņa programmēšanas skolotāju mācību grupa
  </h2>
  <li><strong>Indra Kažoka</strong>, Valmieras Valsts ģimnāzija</li>
  <li><strong>Juris Erts</strong>, Jāņa Eglīša Preiļu Valsts ģimnāzija</li>
  <li><strong>Laila Zudāne</strong>, V.Plūdoņa Kuldīgas vidusskola</li>
  <li><strong>Maiga Pigita</strong>, Ķekavas vidusskola</li>
  <li><strong>Natālija Rodina</strong>, Rīgas 10. vidusskola</li>
  <li><strong>Gundega Dēķena</strong>, IT Izglītības fonda mentore</li>
</div>
{% endblock %}
