<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Zināšanu pārbaudes testi - Brīvie Suņi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stils.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/scripts.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/papaparse.min.js') }}"
    ></script>
  </head>

  <body>
    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <table cellspacing="20">
          <tr>
            <td>
              <a href="/" class="navbar-item">
                <b> Sākums </b>
              </a>
            </td>
            <td>
              <a href="/profile" class="navbar-item">
                <b> Profils </b>
              </a>
            </td>
            <td>
              <a href="/login" class="navbar-item">
                <b> Pieteikties </b>
              </a>
            </td>
            <td>
              <a href="/logout" class="navbar-item">
                <b> Iziet </b>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="preloader behind">
      <img src="{{ url_for('static', filename='bildes/pulsing-cube.svg') }}" />
    </div>
    <div class="saturs">
      {% block saturs %} {% endblock %}
    </div>
    <div id="kaajene">
      <hr width="40%" />
      <img src="{{ url_for('static', filename='bildes/brivais_suns.png') }}" />
      <p>&copy; <a href="/par">Brīvie Suņi</a>, 2019</p>
    </div>
  </body>
</html>
