<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Zināšanu pārbaudes testi - Brīvie Suņi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stils.css') }}"
    />
  </head>

  <body>
    <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
            
            <a href="/" class="navbar-item">
                Sākums
          </a>
            <a href="/profile" class="navbar-item">
                Profils
            </a>
            <a href="/login" class="navbar-item">
                Pieteikties
            </a>
            <a href="/logout" class="navbar-item">
                Iziet
            </a>
        </div>
    </div>
    <div class="saturs">
      {% block saturs %} {% endblock %}
    </div>
    <div id="kaajene">
      <hr width="40%" />
      <img src="{{ url_for('static', filename='bildes/brivais_suns.png') }}" />
      <p>&copy; Brīvie Suņi, 2019</p>
    </div>
  </body>
</html>
