{% extends "BSveidne.html" %}

{% block saturs %}
<h1 class="title">
    <center>Mācību testi</center>
</h1>
<p>Ir iespēja izvēlēties: </p>
<div class="kaste">
    <div class="kaste:before">
        <div class="row">
            <div class="row:before">
        <div class="span2">
            <div class="kreisakaste">
         <h3><a href="/macibas">    
    <img class="ikona" src="{{ url_for('static', filename='bildes/book-h.svg') }}">
    Mācību testu lapa</a></h3>
<p><b>šeit ir iespēja mācīties testu par izvēlēto tēmu un nostiprināt savas zināšanas</b> </p>
</div>      
</div>
     <div class="span2">  
            <div class="labakaste">
    <h3><a href="/parbaude">    
    <img class="ikona" src="{{ url_for('static', filename='bildes/graduate.svg') }}">
    Pārbaudes testu lapa</a></h3>
<p><b>šeit ir iespēja mācīties testu par izvēlēto tēmu un nostiprināt savas zināšanas</b> </p>
</div>
</div>
<div class="row:after"></div>
</div>
<div class="kaste:after"></div>
</div>
</div>
</div>

{% endblock %}