{% extends "BSveidne.html" %}

{% block saturs %}
<h1 class="title">
    <center>Mācību testi</center>
</h1>
<p>Ir iespēja izvēlēties: </p>
<style>
    .kaste {
      display: flex;
      background-color: #d4af09;
    }
    
    .kaste > div {
      background-color: #ffbb00;
      color: black;
      width: 600px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
</style>
<div class="kaste">
    <div class="kkaste">
         <h3><a href="/macibas">    
    <img class="ikona" src="{{ url_for('static', filename='bildes/book-h.svg') }}">
    Mācību testu lapa</a></h3>
<p><b>šeit ir iespēja mācīties testu par izvēlēto tēmu un nostiprināt savas zināšanas</b> </p>
</div>      
     <div class="kkaste">
    <h3><a href="/parbaude">    
    <img class="ikona" src="{{ url_for('static', filename='bildes/graduate.svg') }}">
    Pārbaudes testu lapa</a></h3>
<p><b>šeit ir iespēja mācīties testu par izvēlēto tēmu un nostiprināt savas zināšanas</b> </p>
</div>
</div>