{% extends "BSveidne.html" %}

{% block saturs %}
<h1 class="title">
    <center>Mācību testi</center>
</h1>
<p>Pašlaik ir lapas:</p>
<ul>
    <li><a href="/macibas">
        <img class="ikona" src="{{ url_for('static', filename='bildes/book-h.svg') }}">
        Mācību testu lapa</a> šeit ir iespēja mācīties testu par izvēlēto tēmu un nostiprināt savas zināšanas </li>
    
    <li><a href="/parbaude">
        <img class="ikona" src="{{ url_for('static', filename='bildes/graduate.svg') }}">
        Pārbaudes testu lapa</a> Šeit ir iespēja pārbaudīt savas zināšanas konkrētajā tēmā un iegūt punktus</li>
</ul>
{% endblock %}