{% extends "BSveidne.html" %} {% block saturs %} {% block galva %} {% endblock
%}
<div id="tests">
  <div class="jautajums">
    <div id="jaut">Jautājums</div>
  </div>
  <div id="atbil" class="atbildes">
    <div>
      <a href="#" onclick="javascript:nakamais()" class="poga">
        <div class="atbilde">1. atbilde</div>
      </a>
    </div>
    <div>
      <a href="#" onclick="javascript:nakamais()" class="poga">
        <div class="atbilde">2. atbilde</div>
      </a>
    </div>
    <div>
      <a href="#" onclick="javascript:nakamais()" class="poga">
        <div class="atbilde">3. atbilde</div>
      </a>
    </div>
    <div>
      <a href="#" onclick="javascript:nakamais()" class="poga">
        <div class="atbilde">4. atbilde</div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
